@import "tailwindcss";
@plugin "daisyui";

.text {
  font-size: 20px;
  font-weight: 600;
}

.Buttons {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
}
.Buttons {
  /* margin: 10px !important; */
  padding: 5px 25px !important;
  text-align: center !important;

  text-transform: uppercase !important;
  transition: 0.5s !important;
  background-size: 200% auto !important;
  color: white !important;
  box-shadow: 0 0 20px #eee !important;
  border-radius: 10px !important;
  display: block !important;
}

/* .Buttons:hover {
  background-position: right center !important; 
  color: #fff !important;
  text-decoration: none !important;
}  */
.MuiButtonBase-root {
  font-size: 20px !important;
  font-weight: 600 !important;
}

/* From Uiverse.io by gharsh11032000 */
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
  scale: 1;
}

.btns {
  background-image: linear-gradient(
    to right,
    #aa076b 0%,
    #61045f 51%,
    #aa076b 100%
  );
}
.btns {
  padding: 5px 15px !important;
  text-align: center !important;
  margin-top: 10 !important;
  transition: 0.5s !important;
  background-size: 200% auto !important;
  color: white !important;
  box-shadow: 0 0 20px #eee !important;
  border-radius: 10px !important;
  display: block !important;
}

.btns:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff !important;
  text-decoration: none !important;
}

#matrixCanvas {
}

.Images {
  background-image: url("./assets//Img/10013.jpg");
}
